@{
    ViewBag.Title = "About Questionnaire";
}

<h2>About Questionnaire</h2>
<p>The questionnaire site uses MVC and Angular2 with TypeScript in the user interface with a WebAPI service layer.</p>
<h3>Angular2</h3>
<p>The questionnaire page uses Angular2 (version 4.0) and TypeScript as a Single Page Application (SPA) microsite to present the result of the WebAPI questionnaire response.  There are unit tests and end-to-end (e2e) tests using Karma and Jasmine.</p>
<p>The SPA also makes use of Gulp build tasks to copy necessary files and transpile the TypeScript into JavaScript.</p>
<p>In addition, the SPA uses SystemJS to bootstrap Angular2 within the MVC application.</p>
